/* Condense all old names and nonusable code */
/* Find a consistent color palette and stick with it */
/* Apply CRAP PRINCIPLES */
/* Fix media quieres to fit for desktop, ask can dad work from office so i can hold pc or go on campus ew */
/* Make animations for banner header explore410 */
/* floating text and wrap for pages without comments */
/* apply general styles to all pages */ 
.header{
    position:relative;
    top:-20px;
    margin: 10px;
    padding:10px;
    text-align: left;
}

body {
    background-color:#FEF8F4;
    margin-left:20px;
    padding:20px;
}

footer{
    padding-top:10px;
    margin-top:10px;
    display:flex;
    flex-wrap:nowrap;
    gap:40px;
}
footer>a{
    padding-top:20px;
}

h1,h2{
    font-family: "Oswald", sans-serif; 
    font-optical-sizing: auto;
    font-weight: 600;
    font-style:normal;
    text-align: center;
}
h3{
    font-family: "Oswald", sans-serif; 
    font-optical-sizing: auto;
    font-weight: 600;
    font-style:normal;
}


figcaption,li,p,a {
    font-family: "Merriweather", serif;
    font-weight: 400px;
    text-decoration: none;
    color: black;
    font-size: 1rem;
}

strong{
    text-align: center;
}



.section {
    background-color: #210B2C;
    color: #FEF8F4;
    padding: 16px;
    font-size: 16px;
    height:100px;
    width:250px;
    border: 1px solid #210B2C;
}

.section:hover {
    background-color: #5E6572;
    color:#210B2C;
}

.blue {
    margin-left:auto;
    margin-right:auto;
    max-width: 500px;
    background-color:#FEF8F4;
    padding: 30px 30px 20px 30px;
    font:"Merriweather", serif;
    color: #666;
    border-radius: 5px;
    border:2px #01143c solid;
    font-size: 1rem;
}
.blue h1 {
    padding: 20px 0px 20px 40px;
    display: block;
    margin: -30px -30px 10px -30px;
    color: #FFF;
    background: #0e0069;
    text-shadow: 1px 1px 1px #949494;
    border-radius: 5px 5px 0px 0px;
    border-bottom:1px solid #0e0069;

}
.blue h1>p {
    display: block;
    font-size: 11px;
    color: #FFF;
}

.blue label {
    display: block;
    margin: 0px 0px 5px;
    color:#01143c;
    
}

.blue input[type="text"], 
.blue input[type="email"],
.blue input[type="date"],  
.blue input[type="number"],  
.blue textarea, 
.blue select {
    color: #555;
    height: 30px;
    line-height:15px;
    width: 100%;
    padding: 0px 0px 0px 10px;
    margin-top: 2px;
    border: 1px solid #E5E5E5;
    background: #FBFBFB;
    outline: 0;
    box-shadow: inset 1px 1px 2px rgba(238, 238, 238, 0.2);
    font-weight: 500;
}
.blue input[type="radio"], 
.blue input[type="checkbox"]{
    color: #555;
    padding: 0px 0px 0px 10px;
    margin-top: 2px;
    border: 1px solid #E5E5E5;
    background: #FBFBFB;
    outline: 0;
    float:left;
    box-shadow: inset 1px 1px 2px rgba(238, 238, 238, 0.2);
    font-weight: 500;
}

legend{
    color:black;
}

.blue textarea{
    height:100px;
    padding-top: 10px;
}

.blue .button {
    background-color: #0e0069;  
    border-radius: 5px;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #FFF;
    text-shadow: 1px 1px 1px #949494;
    transition:all 1s linear;
}
.blue .button:hover {
	cursor:pointer;
    background-color:#0e0069;
}
.indent textarea{
    height:200px;
    width:250px;
    padding-bottom: 10px;
}



.carousel {
    position: relative;
    max-width: 35%;
    margin: auto;
    overflow: hidden;
    gap:30px;
    text-align: center;
  }
  
  .carousel-img {
    display: flex;
    transition: transform 0.5s ease;
  }
  
  .carousel-img img {
    width: 100%;
    display: none;
  }
  
  .carousel-img img.active {
    display: block;
  }
  
  button{
    border: none;
    cursor: pointer;
    padding: 10px;
  }
  
  .previous {
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.7);
    position: absolute;
    left: 10px;
  }
  
  .next {
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.7);
    position: absolute;
    right: 10px;
  }
  
  .educational{
    display:flex;
    flex:nowrap;
    direction:row;
    gap:40px;
    padding: 10px 12px;
}

.layeredNav {
    overflow: hidden;
    background-color: #FEF8F4;
    display: none;
}

.layeredNav>a {
    float: left;
    font-size: 1rem;
    color: #210B2C;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: "Merriweather", serif;
    
}

.secondLayer {
    float: left;
    overflow:hidden; 
    font-family: "Merriweather", serif;

   /* Required for dropdown positioning */
}

.button,.layeredButton{
    background-color: #FEF8F4;
    font-size: 1rem;
    padding: 14px 16px;
}

.layeredButton .secondLayer  {
    font-size: 1rem;
    border: none;
    outline: none;
    color: #210B2C;
    padding: 14px 16px;
    background-color: #FEF8F4;
    font-family: "Merriweather", serif;
    cursor: pointer;
    
}

.layeredNav a:hover,
.secondLayer:hover .layeredButton {
    color: #01143c; 
    background-color: #FBFBFB;/* Optional: Change text color on hover */
}

.layerContent {
    display: none; /* Hide dropdown by default */
    position: absolute; /* Position relative to secondLayer */
    left: 0;
    background-color: #5E6572;
    width: 100%; /* Full width of the parent */
    z-index: 1; /* Keep it on top */
}

.layerContent a {
    display:block;/* Make links block elements */
    padding: 12px 16px; /* Padding for dropdown links */
    color: #210B2C; /* Link color */
    text-decoration: none; /* Remove underline */
}

.layerContent a:hover {
    background-color: #FEF8F4; /* Change background on hover */
    color: #01143c; /* Change text color on hover */
}

.secondLayer:hover .layerContent {
    display: block; /* Show dropdown on hover */
}

main{
    position: relative;
    bottom:-40px;
}


        /* popup code */
        .popup{
            position:relative;
            display: inline-block;
            cursor:pointer;
            font-size:1.2rem;
            padding-top:20px;
        }

        .popup .popuptext{
            visibility: hidden;
            width:160px;
            background-color:#FEF8F4 ;
            color:#210B2C;
            text-align: center;
            border-radius:6px;
            padding: 8px 0;
            position:absolute;
            z-index:1000;
            bottom:125%;
            left:50%;
            margin-left: -80px;
            font-size:1.2rem;
        }

        .popup .popuptext::after{
            content:"";
            position:absolute;
            top:100%;
            left:50%;
            margin-left:-5px;
            border-width:5px;
            border-style:solid;
            border-color:#0e0069 transparent transparent transparent;
            font-size:1.2rem;
        }

        .popup .show{
            visibility: visible;
            -webkit-animation: fadeIn  1s;
            animation: fadeIn 1s;
        }

        @-webkit-keyframes fadeIn{
            from{opacity:0;}
            to {opacity:1;}
        }

        @keyframes fadeIn{
            from{opacity:0;}
            to{opacity:1;}
        }

        


@media only screen and (max-width:600px) {


    .layeredNav{
        display: none;
    }    
    #hamburger{
        background: none;
        position: absolute;
        top:0;
        right:0;
        line-height: 40px;
        padding: 5px 15px 0px 15px;
        border:0;
        font-size:1rem;
        font-weight: bold;
        cursor:pointer;
        outline:none;
        z-index:1000000000;
    }

    header{
        width:100%;
        height:60px;
        line-height:60px;
        border-bottom:1px solid #FEF8F4;
        background-color: #FEF8F4;
    }
    #index{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        padding: 14px 18px;
        gap:50px;
    }

    .menu>div{
        width:35px;
        height:5px;
        background-color: black;
        margin:6px 0;
    }
    p {
        text-align: left;
    }
    strong{
        text-align: center;
    }
    

    /* music page styles */
    #djpope {
        display: flex;
        flex-direction: column;
        flex-wrap:wrap;
        gap:40px;
    }

    .jay {
        width: 320px;
        height: 240px;
        padding-left:10px;
    }
    .jay-mobile{
        visibility: visible;
    }

    .djpope-img,
    .jay-mobile {
        width: 35%;
        height: 35%;
        padding-left: 20px;
    }

    .jay-img {
        visibility: collapse;
        height: 0px;
        width: 0px;
    }

    .djpope {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 20px;
        padding-left:10px;
    }

    #music>h3 {
        margin: 0px;
        padding: 0px;
    }

    #oldgen {
        position: relative;
        display: flex;
        flex-wrap: wrap;
    }

    #music {
        row-gap: 20px;
        justify-content: space-evenly;
    }

    /* dining styles */
    #dining{
        display:flex;
        flex-wrap:wrap;
    }
    .general, .speciality{
        max-width: 40%;
        max-height: 40%;
    }
  

    iframe{
        width:300px;
        height:240px;
    }

    .jay {
        max-width: 75%;
        max-height: 75%;
    }

    /* landing pages style */
    .home-grid {
        display: grid;
        grid-gap: 40px;
        grid-template-columns:auto;
        justify-content: center;
    }

    .section {
        background-color: #210B2C;
        color: white;
        padding: 30px;
        font-size: 12px;
        border: 1px solid #210B2C;
    }

      
    .learning-grid,
    .other-grid {
        display: grid;
        grid-gap: 50px;
        grid-template-rows: auto auto;
        padding-top: 20px;
        margin-top: 20px;
        justify-content: center;
    }

    .culture-grid {
            display: grid;
            grid-gap: 40px;
            grid-template-columns: auto;
            justify-content: center;

    }

 
    .ravens-img,
    .orioles,
    .graffiti,
    .artsdistrict,
    .fedhill-img {
        width: 35%;
        height: 35%;
    }


    .graffiti {
        display: flex;
        flex-wrap: wrap;
    }


    .twoStudio,
    .aquarium, .poly{
        width: 320px;
        height: 240px;
    }

    .BCC, .western,.BSA,.bard, .poly-img,.demographics{
        width: 50%;
        height: 50%;
        padding-left: 20px;
        padding-bottom:20px;
    }
    .ravens-img,
    .orioles,
    .artsdistrict,
    .djpope-img, .BCC,
    .western,
    .FourSeasons,
    .spb,
    .ivyHotel,
    .wharf {
        max-width: 30%;
        max-height: 30%;
    }
    .educational{
        display:flex;
        flex:wrap;
        direction:row;
        gap:40px;
        padding: 10px 12px;
    }
    .educational2{
        display:flex;
        flex:wrap;
        direction:row;
        gap:40px;
        padding: 10px 12px;
    }
    .pagination{
        margin-top: 20px;
        padding-top:40px;
        text-align: center;
        justify-content: center;
    }
    .pagiantion a{
        margin-top: 20px;
        color:#210B2C;
        justify-content: center;
        padding:16px 16px;
        text-decoration: none;
        transition: #FEF8F4 .3s;
        border:1px solid #555;
    }
    
    .pagiantion a.active{
        background-color: #0e0069;
        color:#FEF8F4;
    }
    
    .pagiantion a:hover:not(.active){
        background-color:#666;
    }
    
            /* popup code */
            .popup{
                position:relative;
                display: inline-block;
                cursor:pointer;
                font-size:1.2rem;
                padding-top:20px;
            }
    

}

@media only screen and (max-width:1179px) { 
    h1,h2,h3{
        font-size: 1.4rem;
    }

    /* footer code */
    .pagination{
        margin-top: 20px;
        padding-top:40px;
        text-align: center;
        justify-content: center;
    }
    .pagiantion a{
        margin-top: 20px;
        color:#210B2C;
        justify-content: center;
        padding:16px 16px;
        text-decoration: none;
        transition: #FEF8F4 .3s;
        border:1px solid #555;
    }
    
    .pagiantion a.active{
        background-color: #0e0069;
        color:#FEF8F4;
    }
    
    .pagiantion a:hover:not(.active){
        background-color:#666;
    }
    
    footer{
        padding-top:10px;
        margin-top:10px;
        display:flex;
        flex-wrap:nowrap;
        gap:40px;
    }
    footer>a{
        padding-top:20px;
    }

    strong{
        text-align: center;
    }
    
.menu>div{
    width:35px;
    height:5px;
    background-color: black;
    margin:6px 0;
}
p {
    font-size:1.2rem;
    text-align: left;
}
/* music styles */
.jay-mobile{
    visibility: visible;
}
.jay {
    max-width: 75%;
    max-height: 75%;
}

#djpope {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap:40px;
}

.jay-img {
    max-width: 35%;
    max-height: 35%;
}
.djpope-img {
    max-width: 36%;
    max-height: 36%;
}
figcaption,
p,a, li{
   font-size: 1.4rem;
}

.learning-grid,
.other-grid {
    display: grid;
    grid-gap: 50px;
    grid-template-rows: auto auto;
    padding-top: 20px;
    margin-top: 20px;
    justify-content: center;
}

.culture-grid {
        display: grid;
        grid-gap: 40px;
        grid-template-columns: auto;
        justify-content: center;

}
.enjoyment-grid {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: auto;
    justify-content: center;
    font-size:1.4rem;

}

/* dining styles */

.general, .speciality{
    max-width: 45%;
    max-height: 45%;
}



.orioles,.ravens-img{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
}


.home-grid {
    display: grid;
    grid-template-areas: "dropdown"
        "dropdown";
    grid-gap: 40px;
    grid-template-columns: auto auto;
}


.section {
    background-color: #210B2C;
    color: #DBDBDB;
    padding: 25px;
    height: 150px;
    width: 200px;
    font-size: 1.4rem;
    border: 1px solid #210B2C;
    text-align: center;
}

#home,
#enjoyment,
#other,
#culture,
#learning {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.fedhill-img,
.druidhill,
.cylburnArborteum,
.canton ,.harbor,.demographics,.graffiti{
    width:30%;
    height:30%;
    padding-left:20px;
}

.ravens-img,
.orioles,
.graffiti,
.artsdistrict,
.fedhill-img {
    width: 35%;
    height: 35%;
}

#home-structure>aside {
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
}

iframe{
    width:400px;
    height:320px;
}

.poly-img, .BCC, .western,.BSA,.bard{
    max-width: 40%;
    max-height: 40%;
}
.ravens-img,
.orioles,
.artsdistrict,
.fedhill-img,
.djpope-img .BCC,
.western,
.FourSeasons,
.spb,
.ivyHotel,
.wharf{
    max-width: 35%;
    max-height: 35%;
}


#aquarium{
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
    gap:50px;  
    padding:10px 12px;
 }

 #carousel-museum{
    max-height: 45%;
    max-width:45%;
}
.educational{
    display:flex;
    flex:wrap;
    gap:40px;
    padding: 10px 12px;
}
.educational2{
    display:flex;
    flex:wrap;
    direction:row;
    gap:40px;
    padding: 10px 12px;
}
.secondLayer {
    float: left;
    overflow:hidden; 
    font-family: "Merriweather", serif;

   /* Required for dropdown positioning */
}
}


@media only screen and (min-width:1180px) {
    .pagination{
        margin-top: 20px;
        padding-top:40px;
        text-align: center;
        justify-content: center;
    }
    .pagiantion a{
        margin-top: 20px;
        color:#210B2C;
        justify-content: center;
        padding:16px 16px;
        text-decoration: none;
        transition: #FEF8F4 .3s;
        border:1px solid #555;
    }
    
    .pagiantion a.active{
        background-color: #0e0069;
        color:#FEF8F4;
    }
    
    .pagiantion a:hover:not(.active){
        background-color:#666;
    }
    .popup{
        position:relative;
        display: inline-block;
        cursor:pointer;
        font-size:1.2rem;
        padding-top:20px;
    }

    .popup .popuptext{
        visibility: hidden;
        width:160px;
        background-color:#FEF8F4 ;
        color:#210B2C;
        text-align: center;
        border-radius:6px;
        padding: 8px 0;
        position:absolute;
        z-index:1000;
        bottom:125%;
        left:50%;
        margin-left: -80px;
        font-size:1.2rem;
    }

    .popup .popuptext::after{
        content:"";
        position:absolute;
        top:100%;
        left:50%;
        margin-left:-5px;
        border-width:5px;
        border-style:solid;
        border-color:#0e0069 transparent transparent transparent;
        font-size:1.2rem;
    }

    .popup .show{
        visibility: visible;
        -webkit-animation: fadeIn  1s;
        animation: fadeIn 1s;
    }

    @-webkit-keyframes fadeIn{
        from{opacity:0;}
        to {opacity:1;}
    }

    @keyframes fadeIn{
        from{opacity:0;}
        to{opacity:1;}
    }

    
    .blue{
        max-width: 700px;

    }
    .secondLayer {
      
        overflow:hidden; 
        font-family: "Merriweather", serif;
        display: inline-block;
    
       /* Required for dropdown positioning */
    }
    strong{
        text-align: center;
    }
    
        #hamburger{
            visibility: hidden;
        }
        .layeredNav{
            display: block;
        }
     
        h1,h2,h3, figcaption,li,p{
            font-size: 1.4rem;
        }
        
        a {
            font-size: 1.4rem;
            text-decoration: none;
            color: black;
        }
            /*landing pages styles  */
        #home,
        #enjoyment,
        #other,
        #culture,
        #learning {
            display: flex;
            flex-direction: column;
            
        }

        .home-grid {
            display: grid;
            grid-template-areas: "dropdown" "dropdown";
            grid-gap: 50px;
            grid-template-columns: auto auto;
            padding-top: 20px;
            justify-content: center;
        }
  

        .section {
            background-color: #210B2C;
            color: #DBDBDB;
            padding: 25px;
            height: 150px;
            width: 200px;
            font-size: 1.4rem;
            border: 1px solid #210B2C;
            text-align: center;
        }
    
        .section:hover {
            background-color: #5E6572;
        }
        .enjoyment-grid{
            display: grid;
            grid-gap: 50px;
            grid-template-columns: auto auto auto;
            padding-top: 20px;
            margin-top: 20px;
            justify-content: center;
        }
    
        .learning-grid,
        .other-grid {
            display: grid;
            grid-gap: 50px;
            grid-template-columns: auto auto;
            padding-top: 20px;
            margin-top: 20px;
            justify-content: center;
        }
    
        .culture-grid {
                display: grid;
                grid-template-areas: "dropdown"
                    "dropdown";
                grid-gap: 40px;
                grid-template-columns: auto auto;
                justify-content: center;
        }
      
    
    
          
        /* music styles */
        #music {
            row-gap: 20px;
            justify-content: space-evenly;
        }

        .jay-mobile{
            display: none;
        }
        .jay {
            max-width: 75%;
            max-height: 75%;
        }
        
        #djpope {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            gap:40px;
        }
      
        .djpope-img {
            max-width: 76%;
            max-height: 76%;
        }
    
        .jay-img {
            max-width: 75%;
            max-height:75%;
        }
    
        .newgen{
           display:flex;
           flex-direction: column;
           flex-wrap: wrap;
        }
        #newgen{
            bottom: 0px;
            margin: 0px;
            padding:10px;
            gap:10px;
            height:300px;
        }

        #popularSound{
            display:flex;
            flex-wrap:wrap;
            margin:10px;
            padding:10px;
        }
               
        .jay-mobile{
            visibility: collapse;
            height: 0px;
            width:0px;
        }

    

    /* activities styles */
        .educational{
            display:flex;
            flex-wrap:wrap;
            gap:40px;
            justify-content: center;
            padding-left:30px;
            margin-left:30px;
        }

        .educational2{
            display:flex;
            flex-wrap:wrap;
            gap:40px;
        }
        .educational{
            display:flex;
            flex-wrap:wrap;
            gap:40px;
            justify-content: center;
            padding-left:30px;
            margin-left:30px;
        }
        #twoStudio{
            display:flex;
            flex-wrap:nowrap;
            gap:40px;
            justify-content: center;
            padding-left:30px;
            margin-left:30px;
        }
      .aquarium, .twoStudio{
        width:400px;
        height:320px;
        gap:20px;
        padding-left:30px;
      }
        #carousel-museum{
            max-height: 55%;
            max-width:55%;
        }
        .aquarium{
            width:400px;
            height:320px;
        }
    /* dining styles */
        #dining{
            display:flex;
            flex-wrap:nowrap;
        }

        .specialityEats, .generalEats{
            display:flex;
            flex-wrap:nowrap;
            gap:20px;
        }
        .speciality, .general{
            max-width: 60%;
            max-height: 60%;  
        }
        #special{
            margin-top:20px;
        }
        
        /* Rest Area styles */
        #rest{
            display:flex;
            flex-wrap: wrap;
        }
   
        .spb,
        .wharf {
            max-width: 50%;
            max-height: 50%;
            gap:20px;
        }
        .FourSeasons, .ivyHotel{
            max-width: 45%;
            max-height:45%;
        }
        .spb:last-child{
            max-width: 51%;
            max-height:51%;
        }

        /* school page styles */

        .poly-img, .BCC, .western,.BSA,.bard{
            max-width: 40%;
            max-height: 40%;
        }
        
        .poly-img{
            width:45%;
            height:45%;
        }
        .poly{
            width:400px;
            height:320px;
        }

        /* sports page styles */
        .sports{
            display:flex;
            flex-wrap:wrap;
            gap:40px;
        }
        /* arts page styles */
        .graffiti, .artsdistrict{
            max-width:45%;
            max-height:450%;
            gap:20px;
        }
        #graffiti{
            display:flex;
            flex-wrap: wrap;
            flex-direction: row;
        }
        
  



    }
